@import "bootstrap/custom";
@import "~bootstrap/scss/bootstrap";
@import "bootstrap/utilities";

@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "calendar";

@import '~font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "form";

body, html { font-size:18px; }

h3 {
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
}

p {
  &:last-child {
    margin-bottom:0;
  }
}

.list-group {
  .list-group-item {
    text-transform: uppercase;
    &.list-group-item-success {
      background-color:#5cb85c;
      border-color:#5cb85c;
      color:#FFFFFF;
    }
  }
}